<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h1>Create customers</h1>
            </div>
            <div class="col-sm-7">
                <a style=" box-shadow: 0 0 5px 1px whitesmoke;" th:href="@{/customers/create}" class="btn btn-outline-light">
                    <i class="fas fa-plus-square"></i>
                    <span> Add New Customer</span>
                </a>
                <a style=" box-shadow: 0 0 5px 1px whitesmoke;" href="/transfers" class="btn btn-outline-light">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <span> Transfer money Information</span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-borderless table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>FullName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Balance</th>
                <th colspan="5" style="text-align:center;">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${customers}">
            <tr>
                <td th:text="${item.id}"></td>
                <td th:text="${item.fullName}"></td>
                <td th:text="${item.email}"></td>
                <td th:text="${item.phone}"></td>
                <td th:text="${item.address}"></td>
                <td th:text="${item.balance}"></td>
                <td class="text-center">
                    <a class="btn btn-outline-secondary" title="Edit" data-toggle="tooltip" th:href="@{/customers/edit/__${item.id}__}">
                        <i class="fas fa-pen-square" aria-hidden="true"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-success" title="Deposit" data-toggle="tooltip" th:href="@{/customers/deposit/__${item.id}__}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-warning" title="Withdraw" data-toggle="tooltip" th:href="@{/customers/withdraw/__${item.id}__}">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-primary" title="Transfer" data-toggle="tooltip" th:href="@{/customers/tranfer/__${item.id}__}">
                        <i class="fas fa-exchange-alt" aria-hidden="true"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-outline-danger" title="Suspended" data-toggle="tooltip" th:href="@{/customers/suspended/__${item.id}__}">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </th:block>

            </tbody>
        </table>
    </div>
</div>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>